/*--------------------
    VARIABLES
----------------------*/
:root {
    // Colors
    --primary-color: #0282f9;
    --secondary-color: #797979;
    --first-text-color: #fff;
    --second-text-color: #959595;
    --first-bg-color: #000;
    --secondary-bg-color: #303030;

    // Container size
    --container-size: 75rem;
}